<div class="linha mb-3">
  <h1>Submissões</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12" *ngFor="let item of items">
      <div class="card card-event mb-3">
        <div class="card-body linha">
          <h5 (click)="expandItem(item)" class="card-title">{{ item.trabalho.titulo }} <i class="fa fa-question-circle"
            pTooltip="Clique no card para ver o resultado segundo os avaliadores"
            tooltipPosition="top" placeholder="Top"></i>
          </h5>
          <div (click)="expandItem(item)" class="spacer"></div>
          <button (click)="downloadWork(item.trabalho)" class="btn"><i class="fa-solid fa-download"></i></button>
          <div (click)="expandItem(item)" class="spacer"></div>
          <button class="btn btn-primary margin-botoes tamanho-botoes" (click)="aproveWork(item.trabalho)">Aprovar</button>
          <button class="btn btn-secondary tamanho-botoes" (click)="reproveWork(item.trabalho)">Reprovar</button>
        </div>
        <ul *ngIf="item.expanded" class="list-group list-group-flush">
          <span *ngIf="item.loading" class="spinner-border spinner-border-sm"></span>
          <li *ngFor="let trabalhoAvaliador of item.trabalhoAvaliador" class="list-group-item">
            Avaliador: {{ trabalhoAvaliador.usuarioDTO?.nome }}    Resultado: {{ trabalhoAvaliador.resultadoSubmissaoDTO?.resultado }}    Confiança: {{ trabalhoAvaliador.resultadoSubmissaoDTO?.confianca }}
            Comentário: {{ trabalhoAvaliador.resultadoSubmissaoDTO?.comentarioOrganizador }}
          </li>
          <li class="list-group-item">
            <button class="btn btn-primary" [routerLink]="['/defineEvaluator']" [state]="item.trabalho">Definir avaliador</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
