<div class="linha mb-3">
  <h1>Área do conhecimento</h1>
  <div class="spacer"></div>
  <button class="btn btn-primary" style="margin-bottom: 0.5rem;" [routerLink]="['/areaAdd']">Adicionar Área</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let area of areas">
      <div class="card card-event mb-3">
        <div class="card-body linha">
          <h5 class="card-title">{{ area.descricao }}</h5>
          <div class="spacer"></div>
          <button class="btn" [routerLink]="['/areaUpdate']" [state]="area"><i class="fa fa-pencil"></i></button>
          <button class="btn" (click)="deleteArea(area.id!)"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
