<div class="linha mb-3">
  <h1>Avaliadores</h1>
  <div class="spacer"></div>
  <button class="btn btn-primary" style="margin-bottom: 0.5rem;" [routerLink]="['/evaluatorAdd']">Adicionar Avaliador</button>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let userPermission of userPermissions">
      <div class="card card-event mb-3">
        <div class="card-body linha">
          <h5 class="card-title">{{ userPermission.usuarioDTO?.nome }}</h5>
          <div class="spacer"></div>
          <button class="btn" (click)="deleteUserPermission(userPermission.id!)"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
