<div class="linha mb-3">
  <h1>Meus Trabalhos</h1>
  <div class="spacer"></div>
  <button class="btn btn-primary" style="margin-bottom: 0.5rem;" [routerLink]="['/workAdd']">Adicionar Trabalho</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let trabalho of trabalhos">
      <div class="card card-event mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ trabalho.titulo }}</h5>
          <div class="linha">
            <p class="card-text">{{ "Categoria:" + trabalho.categoriaDTO?.descricao }}</p>
            <div class="spacer"></div>
            <button *ngIf="trabalho.resultado == 'Aprovado'" class="btn margin-resultado"><i class="fa-solid fa-circle-check"  pTooltip="Trabalho aprovado" tooltipPosition="top" placeholder="Top"></i></button>
            <button *ngIf="trabalho.resultado == 'Reprovado'" class="btn margin-resultado"><i class="fa-solid fa-circle-xmark"  pTooltip="Trabalho reprovado" tooltipPosition="top" placeholder="Top"></i></button>
            <button class="btn" (click)="downloadWork(trabalho)"><i class="fa-solid fa-download"></i></button>
            <button class="btn" (click)="deleteAuthorWork(trabalho.id!)"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

