<head class="background">

</head>

<div>
  <app-header ></app-header>
  <div class="card card-recover" *ngIf="divRecover">
    <h1 class="titulo-card">Recuperação de senha</h1>
    <div class="body-card">
      <div class="form-group" style="width: 100%;">
        <input type="email" class="form-control input-email" placeholder="E-mail:" [(ngModel)]="usuario.email">
      </div>
      <button class="btn btn-primary add-margin-top" (click)="recoverPassword()">Enviar código</button>
    </div>
  </div>

  <div class="card card-change" *ngIf="!divRecover">
    <h1 class="titulo-card">Recuperação de senha</h1>
    <div class="body-card">
      <div class="form-group" style="width: 100%;">
        <input type="text" class="form-control input-email" placeholder="Código recuperação:" [(ngModel)]="usuario.codigoRecuperacaoSenha">
        <input type="password" class="form-control input-email" placeholder="Nova senha:" [(ngModel)]="usuario.senha">
        <input type="password" class="form-control input-email" placeholder="Confirmar senha:" [(ngModel)]="confirmSenha">
      </div>
      <button class="btn btn-primary" (click)="changePassword()">Enviar código</button>
    </div>
  </div>

</div>
