<head class="background">

</head>

<div>
  <app-header [login]="true"></app-header>
  <div class="card card-recover" *ngIf="divRecover">
    <h1 class="titulo-card">Recuperação de senha</h1>
    <div class="body-card">
      <div class="form-group" style="width: 100%;">
        <input type="email" class="form-control input-email" placeholder="E-mail:" [(ngModel)]="usuario.email">
      </div>
      <div class="linha">
        <button class="btn btn-secondary" style="margin-right: 2rem;" (click)="this.mainService.returnPreviousPage()">
          Cancelar
        </button>
        <button class="btn btn-primary add-margin-top" (click)="recoverPassword()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
          Enviar código
        </button>
      </div>
    </div>
  </div>

  <div class="card card-change" *ngIf="!divRecover">
    <h1 class="titulo-card">Recuperação de senha</h1>
    <div class="body-card">
      <div class="form-group" style="width: 100%;">
        <input type="text" class="form-control input-email" placeholder="Código recuperação:" [(ngModel)]="usuario.codigoRecuperacaoSenha">
        <input type="password" class="form-control input-email" placeholder="Nova senha:" [(ngModel)]="usuario.senha">
        <input type="password" class="form-control input-email" placeholder="Confirmar senha:" [(ngModel)]="confirmSenha">
      </div>
      <div class="linha">
        <button class="btn btn-secondary" style="margin-right: 2rem;" (click)="this.mainService.returnPreviousPage()">
          Cancelar
        </button>
        <button class="btn btn-primary" (click)="changePassword()">
          <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
          Enviar código
        </button>
      </div>
    </div>
  </div>

</div>
