<head class="background">

</head>

<div>
  <app-header ></app-header>
  <div class="card">
    <h1 class="titulo-login">Login</h1>
    <div class="body-login">
      <input type="email" class="input-email" placeholder="E-mail:">
      <input type="password" class="" placeholder="Senha:">
      <div class="esqueceu-senha">
        <a class="" href="/">Esqueceu a senha?</a>
      </div>
      <button (click)="mainService.irParaMain()">Entrar</button>
      <div class="registar">
        <a class="" href="/">Registar-se</a>
      </div>
    </div>
  </div>

</div>
