<head class="background">

</head>

<div>
  <app-header ></app-header>
  <div class="card">
    <h1 class="titulo-login">Login</h1>
    <div class="body-login">
      <div class="form-group" style="width: 100%;">
        <input type="email" class="form-control input-email" placeholder="E-mail:" [(ngModel)]="usuario.email">
        <input type="password" class="form-control" placeholder="Senha:" [(ngModel)]="usuario.senha">
      </div>
      <div class="esqueceu-senha">
        <a class="" href="/">Esqueceu a senha?</a>
      </div>
      <button (click)="login()">Entrar</button>
      <div class="registar">
        <a class="" (click)="this.registerService.goToRegister()">Registar-se</a>
      </div>
    </div>
  </div>

</div>
