.card-event {
  margin: auto;
  align-items: center;
  width: 32rem;
  background-color: #fafafa;
  border: solid 1px #dadada;
}

.linha {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
}

.margin-botoes {
  margin: auto;
}

.tamanho-botoes {
  width: 115px;
}

.botao-avaliador {
  margin-top: 16px;
}

.label-avaliador {
  display: flex;
  align-items: center;
  justify-content: center;
}
