.card-event {
  margin: auto;
  background-color: #fafafa;
  border: solid 1px #dadada;
}

.div-button {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.linha {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
}
