<app-header></app-header>

<div class="margin-header espacamento-base">
  <div class="card card-event">
    <div [formGroup]="form" class="card-body">
      <h1 class="card-title">Selecionar permissão para acessar o evento</h1>

      <div class="form-group mb-3">
        <div class="linha center">
          <button *ngFor="let permissao of permissoes" type="button" class="btn btn-primary margin-botoes" (click)="chooseUserPermission(permissao)">
            {{permissao.permissaoDTO?.descricao}}
          </button>
        </div>
      </div>

      <div class="linha center">
        <button class="btn btn-secondary" (click)="this.mainService.returnPreviousPage()">
          Cancelar
        </button>
      </div>

    </div>

  </div>
</div>
