<app-header></app-header>
<div class="margin-header linha esconder-scroll">
  <div class="coluna asside-acao">
    <ul *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Organizador'">
      <button id="areas" [ngClass]="this.selectedButton == 'Areas' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirAreas()">
        Áreas
      </button>
      <button id="avaliadores" [ngClass]="this.selectedButton == 'Avaliadores' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirAvaliadores()">
        Avaliadores
      </button>
      <button id="categorias" [ngClass]="this.selectedButton == 'Categorias' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirCategorias()">
        Categorias
      </button>
      <button id="organizadores" [ngClass]="this.selectedButton == 'Organizadores' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirOrganizadores()">
        Organizadores
      </button>
      <button id="submissoes" [ngClass]="this.selectedButton == 'Submissoes' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirSubmissoes()">
        Submissões
      </button>
      <button id="submissoes" [ngClass]="this.selectedButton == 'TemplateEmail' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirTemplateEmail()">
        Template de e-mail
      </button>
    </ul>
    <ul *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Avaliador'">
      <button id="avaliar-trabalhos" [ngClass]="this.selectedButton == 'AreasConhecimento' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirAreasConhecimento()">
        Áreas
      </button>
      <button id="avaliar-trabalhos" [ngClass]="this.selectedButton == 'AvaliarTrabalhos' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirAvaliarTrabalhos()">
        Avaliar trabalhos
      </button>
    </ul>
    <ul *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Autor'">
      <button id="trabalhos" [ngClass]="this.selectedButton == 'MeusTrabalhos' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirMeusTrabalhos()">
        Meus trabalhos
      </button>
    </ul>
  </div>

  <div class="coluna todas-telas">
    <div *ngIf="this.selectedButton == 'Nenhum'">
      <h1 class="titulo-centralizado">Bem vindo a página do evento <div class="nome-evento"> {{this.permissaoUsuarioService.userPermissionEvent[0].eventoDTO?.nome}}</div></h1>
      <div class="botoes-centralizado">
        <div *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Organizador'">
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="areas" (click)="abrirAreas()">
            Áreas
          </button>
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="avaliadores" (click)="abrirAvaliadores()">
            Avaliadores
          </button>
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="categorias" (click)="abrirCategorias()">
            Categorias
          </button>
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="organizadores" (click)="abrirOrganizadores()">
            Organizadores
          </button>
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="submissoes" (click)="abrirSubmissoes()">
            Submissões
          </button>
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="submissoes" (click)="abrirTemplateEmail()">
            Template de e-mail
          </button>
        </div>
        <div *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Avaliador'">
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="areas-conhecimento" (click)="abrirAreasConhecimento()">
            Áreas
          </button>
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="avaliar-trabalhos" (click)="abrirAvaliarTrabalhos()">
            Avaliar trabalhos
          </button>
        </div>
        <div *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Autor'">
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="trabalhos" (click)="abrirMeusTrabalhos()">
            Meus trabalhos
          </button>
        </div>
      </div>
    </div>
    <app-evaluator class="mostrar-scroll" *ngIf="this.selectedButton == 'Avaliadores'">

    </app-evaluator>

    <app-category class="mostrar-scroll" *ngIf="this.selectedButton == 'Categorias'">

    </app-category>

    <app-area class="mostrar-scroll" *ngIf="this.selectedButton == 'Areas'">

    </app-area>

    <app-area-evaluator class="mostrar-scroll" *ngIf="this.selectedButton == 'AreasConhecimento'">

    </app-area-evaluator>

    <app-my-works class="mostrar-scroll" *ngIf="this.selectedButton == 'MeusTrabalhos'">

    </app-my-works>

    <app-organizer class="mostrar-scroll" *ngIf="this.selectedButton == 'Organizadores'">

    </app-organizer>

    <app-email-template class="mostrar-scroll"  *ngIf="this.selectedButton == 'TemplateEmail'">

    </app-email-template>

    <app-organizer-work class="mostrar-scroll" *ngIf="this.selectedButton == 'Submissoes'">

    </app-organizer-work>

    <app-evaluate-work-list class="mostrar-scroll" *ngIf="this.selectedButton == 'AvaliarTrabalhos'">

    </app-evaluate-work-list>
  </div>
</div>
