<app-header></app-header>
<div class="margin-header linha">
  <div class="coluna asside-acao" *ngFor="let permissaoUsuarioEvento of this.permissaoUsuarioService.userPermissionEvent">
    <ul *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Organizador'">
      <button id="avaliadores" [ngClass]="this.selectedButton == 'Avaliadores' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirAvaliadores()">
        Avaliadores
      </button>
      <button id="submissoes" [ngClass]="this.selectedButton == 'Submissoes' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirSubmissoes()">
        Submissões
      </button>
      <button id="categorias" [ngClass]="this.selectedButton == 'Categorias' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirCategorias()">
        Categorias
      </button>
      <button id="areas" [ngClass]="this.selectedButton == 'Areas' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirAreas()">
        Áreas
      </button>
    </ul>
    <ul *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Avaliador'">
      <button id="avaliar-trabalhos" [ngClass]="this.selectedButton == 'AvaliarTrabalhos' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirAvaliarTrabalhos()">
        Avaliar trabalhos
      </button>
      <button id="avaliar-trabalhos" [ngClass]="this.selectedButton == 'AreasConhecimento' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirAreasConhecimento()">
        Áreas do Conhecimento
      </button>
    </ul>
    <ul *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Autor'">
      <button id="trabalhos" [ngClass]="this.selectedButton == 'SeusTrabalhos' ? 'botao-menu-selecionado' : 'botao-menu'" (click)="abrirSeusTrabalhos()">
        Seus trabalhos
      </button>
    </ul>
  </div>

  <div class="coluna todas-telas">
    <div *ngIf="this.selectedButton == 'Nenhum'">
      <h1 class="titulo-centralizado">Bem vindo a página do evento <div class="nome-evento"> {{this.permissaoUsuarioService.userPermissionEvent[0].eventoDTO?.nome}}</div></h1>
      <div class="botoes-centralizado" *ngFor="let permissaoUsuarioEvento of this.permissaoUsuarioService.userPermissionEvent">
        <div *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Organizador'">
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="avaliadores" (click)="abrirAvaliadores()">
            Avaliadores
          </button>
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="submissoes" (click)="abrirSubmissoes()">
            Submissões
          </button>
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="categorias" (click)="abrirCategorias()">
            Categorias
          </button>
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="areas" (click)="abrirAreas()">
            Áreas
          </button>
        </div>
        <div *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Avaliador'">
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="avaliar-trabalhos" (click)="abrirAvaliarTrabalhos()">
            Avaliar trabalhos
          </button>
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="areas-conhecimento" (click)="abrirAreasConhecimento()">
            Áreas do Conhecimento
          </button>
        </div>
        <div *ngIf="permissaoUsuarioEvento.permissaoDTO!.descricao == 'Autor'">
          <button class="btn btn-primary margin-botoes tamanho-botoes" id="trabalhos" (click)="abrirSeusTrabalhos()">
            Seus trabalhos
          </button>
        </div>
      </div>
    </div>
    <app-evaluator *ngIf="this.selectedButton == 'Avaliadores'">

    </app-evaluator>

    <app-category *ngIf="this.selectedButton == 'Categorias'">

    </app-category>

    <app-area *ngIf="this.selectedButton == 'Areas'">

    </app-area>

    <app-area-evaluator *ngIf="this.selectedButton == 'AreasConhecimento'">

    </app-area-evaluator>
  </div>
</div>
